tensorflow[gpu]
torch
torchvision
numpy
opencv-python-headless
scikit-image
einops
tqdm
matplotlib
onix
onnxruntime 
onnx-tf
tensorflow-probability==0.23.0
tensorflow-addons==0.23.0
tf-keras==2.15.0
psutil